<!-- <div>
    {% for room in rooms%}
    <div>

      {% if request.user == room.host %}
      <a href="{% url 'update-room' room.id%}">Edit</a>
      <a href="{% url 'delete-room' room.id%}">Delete</a>
      {%endif%}
      <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a><br>
      <a href="{% url 'room' room.id%}">{{room.name}}</a><br>
      <span>{{room.topic}}</span><hr>
    </div>
    {%endfor%}
  </div> -->

  {% for room in rooms%}
  <div class="room-container">
    
    <div class="room-user"><a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
      {% if request.user == room.host %}
      <a href="{% url 'update-room' room.id%}">Edit</a>
      <a href="{% url 'delete-room' room.id%}">Delete</a>
      {%endif%}
    </div>
    <div class="room-mid">
      <a href="{% url 'room' room.id%}">{{room.name}}</a>
      <p>Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Officia iste tenetur repudiandae adipisci error quo ut, libero odit 
         laudantium ipsum expedita mollitia suscipit, repellat minus harum optio 
         atque pariatur. Labore!</p>
    </div>
    <div class="room-bottom">{{room.topic}}</div>
  </div>
  {%endfor%}